.FilePath {
  margin: 0;
  padding: 12px 0;

  list-style: none;
}

.FilePath-Item, .FilePath-CurrentItem {
  display: inline-block;
}

.FilePath-Item::after {
  margin-right: 12px;
  margin-left: 12px;

  content: '/';
}

.FilePath-Item,
.FilePath-Link {
  color: #7f8285;
}
