:root {
  --white: #ffffff;
  --black: #000000;
}

.Theme_color_default {
  --background: var(--white);
  --text-color: var(--black);
  --color-default: #ffffff;
  --color-accent: #FF3029;
  --color-border: #e5e5e5;
  --text-color-primary: #000000;
  --text-color-secondary: #7F8285;
  --text-color-link: #1774E9;

  --color-gray-light: #f5f5f5;
  --color-gray-dark: #999999;
}

.Theme_size_default {
  --font-size-xs: 12px;
  --font-size-s: 13px;
  --font-size-m: 14px;
  --font-size-l: 16px;
  --font-size-xl: 24px;

  --line-height-xs: 20px;
  --line-height-s: 20px;
  --line-height-m: 20px;
  --line-height-l: 20px;
  --line-height-xl: 28px;
}

.Theme_space_default {
  --space-xxxs: 2px;
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 16px;
  --space-l: 20px;
  --space-xl: 24px;
  --space-xxl: 32px;
  --space-xxxl: 40px;
  --space-xxxxl: 48px;
  --space-xxxxxl: 72px;
}
